<!-- product 1 -->

<hr style="border: solid 2px white !important;">

<div class="umb-grid">
  <div class="grid-section">
    <div>
      <div class="row clearfix">
        <div class="col-md-3 column ea-tweet-section" id="1-1">
          <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/blk/blk254.jpg');">
          </div>
        </div>
        <div class="col-md-9 column ea-tweet-section" id="1-1">
          <div class="ea-tile-wrapper" style="background-color: transparent;">
            <h3> BLK 254</h3>
            <p>some text comes here</p>
            <p>description comes here</p>
            <p>Product details:
            <ul>
              <li>Product detail 1</li>
              <li>Product detail 2</li>
              <li>Product details 3</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- product 2 -->


<hr style="border: solid 2px white !important;">

<div class="umb-grid">
  <div class="grid-section">
    <div>
      <div class="row clearfix">
        <div class="col-md-3 column ea-tweet-section" id="1-2">
          <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/blk/blk154.jpg');">
          </div>
        </div>
        <div class="col-md-9 column ea-tweet-section" id="1-2">
          <div class="ea-tile-wrapper" style="background-color: transparent;">
            <h3>BLK154</h3>
            <p>some text comes here</p>
            <p>description comes here</p>
            <p>Product details:
            <ul>
              <li>Product detail 1</li>
              <li>Product detail 2</li>
              <li>Product details 3</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- product 3 -->


<hr style="border: solid 2px white !important;">

<div class="umb-grid">
  <div class="grid-section">
    <div>
      <div class="row clearfix">
        <div class="col-md-3 column ea-tweet-section" id="1-3">
          <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/blk/blk262.jpg');">
          </div>
        </div>
        <div class="col-md-9 column ea-tweet-section" id="1-3">
          <div class="ea-tile-wrapper" style="background-color: transparent;">
            <h3>BLK 262</h3>
            <p>some text comes here</p>
            <p>description comes here</p>
            <p>Product details:
            <ul>
              <li>Product detail 1</li>
              <li>Product detail 2</li>
              <li>Product details 3</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
