<article>
  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="row clearfix">
          <div class="col-md-6 column ea-tweet-section" id="1-1">
            <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/blk/20.jpg');">
              {{#link-to 'windows/blk'}}
              <div class="ea-tile ">
                <div class="ea-tile-header"><span>/</span>BLK</div>
                <div class="ea-tile-content">
                  <div class="ea-tile-title">
                    <h3>BLK</h3>
                  </div>
                  <div class="ea-tile-text"><p>more text comes here ....</p></div>
                </div>
              </div>
              {{/link-to}}
            </div>
          </div>
          <div class="col-md-6 column ea-tweet-section" id="1-2">
            <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/Brokelmann/1.jpeg');">
              {{#link-to 'windows/brokelmann'}}
              <div class="ea-tile ">
                <div class="ea-tile-header"><span>/</span>Brokelmann </div>
                <div class="ea-tile-content">
                  <div class="ea-tile-title">
                    <h3>Brokelmann </h3>
                  </div>
                  <div class="ea-tile-text"><p>more text comes here ....</p></div>
                </div>
              </div>
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
