<article>
  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="row clearfix">
          <div class="col-md-6 column ea-tweet-section" id="1-1">
            <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/wood/1.png');">
                {{#link-to 'wood/doors/front-doors'}}
                 <div class="ea-tile ">
                  <div class="ea-tile-header"><span>/</span>Front Doors</div>
                  <div class="ea-tile-content">
                    <div class="ea-tile-title">
                      <h3> Front Doors</h3>
                    </div>
                    <div class="ea-tile-text"><p>more text comes here ....</p></div>
                  </div>
                </div>
                {{/link-to}}
            </div>
          </div>
          <div class="col-md-6 column ea-tweet-section" id="1-2">
            <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/wood/1.png');">
              {{#link-to 'wood/doors/interior-doors'}}
                <div class="ea-tile ">
                  <div class="ea-tile-header"><span>/</span>Interior Doors</div>
                  <div class="ea-tile-content">
                    <div class="ea-tile-title">
                      <h3>Interior Doors</h3>
                    </div>
                    <div class="ea-tile-text"><p>more text comes here ....</p></div>
                  </div>
                </div>
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
