<article>
  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="row clearfix">



          <!-- product 1 -->


          <div class="col-md-3 column ea-tweet-section" id="1-4">
            <div class="ea-tile-wrapper" style=" height: 330px; background-image: url('/assets/images/blk/blk142.jpg');">
              <a  href="#" data-toggle="modal" data-target="#blk142" data-backdrop="true">
                <div class="ea-tile ">
                  <div class="ea-tile-content">
                    <div class="ea-tile-title" style="margin-bottom: -50%;">
                      <h4 style="color: #000; border: 2px solid grey; background-color: lightgrey;">BLK classic 136/142</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <!-- beginning of modal windows -->
            <div id="blk142" class="modal fade " role="dialog" data-backdrop="false" style=" overflow-y: auto; margin-top: 20px;">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <img src="/assets/images/blk/blk142.jpg" alt="blk254" class="img-responsive center-block">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">
                      <h2>Product Details</h2>
                    </div>
                  </div>
                  <div class="modal-body">
                    <h3>BLK classic 136/142</h3>
                    <p>Thanks to its special and diachronic design, it can renew the style of your place
                      It offers a great variety of applications that can easily satisfy the most demanding constructions
                    </p>
                    <h3>DESIGN </h3>
                    <p>With distinguished and timeless design, BLK Regal 154 relies on an elegant, modern style that changes the atmosphere of your place. It comes in unique lines, designed to integrate all key elements of modern architectural concepts. Profiles and accessories to offer solutions even to the most exquisite ideas, providing versatile applications.
                    </p>
                    <h3>ENDURANCE </h3>
                    <p>BLK Regal 154 is a strong and durable system that will stand time and all weather conditions.
                    </p>
                    <h3>FUNCTIONALITY  </h3>
                    <p>The special design, the carefull selection of easy to fit accessories and the efficient insulation, make BLK 154 the system that meets every expectation and the highest quality standards. This system is ideal for shop windows, doors and windows. Regal 154 offers a great selection of color samples such as Ral, Elox, Metalic, or Wood imitation. EPDM gaskets and the locking mechanisms assure the desired strength,comfort and safety.
                    </p>
                    <h3>PERFORMANCE  </h3>
                    <p>BLK Regal 154 system has been developed taking into consideration the needs of the constructors. It is a system that doesn’t compromise in quality and at the same time stands out for its long lasting performance. The accessories fit perfectly in every profile and offer an additional advantage to the constructor by reducing the operating cost. BLK Regal 154 comes in a variety of profiles and is constantly enhanced.
                    </p>
                    <h3>What REGAL 154 system offers  </h3>
                    <ul>
                      <li>Safe and efficient alternative for big size spans</li>
                      <li>Frames with height up to 56mm and width up to 180mm</li>
                      <li>Big sashes for doors</li>
                      <li>Option to construct doors without using transom mullions</li>
                      <li>Option to construct doors with internal window</li>
                      <li>Option to use automatic card locks for internal doors for hotels, banks, offices</li>
                      <li>For big size spans, there is the option to use additional corner joints for absolute firmness</li>
                      <li>Option for glass thickness of 4 - 30mm</li>
                      <li>Top standards water and air flow insulation</li>
                      <li>Special profiles for perimeter locking mechanism</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn custom-btn-2 pull-left" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: BLK fullscreen modal -->
          </div>




          <!-- product 2 -->





          <div class="col-md-3 column ea-tweet-section" id="1-4">
            <div class="ea-tile-wrapper" style=" height: 330px; background-image: url('/assets/images/blk/blk154.jpg');">
              <a  href="#" data-toggle="modal" data-target="#blk154" data-backdrop="true">
                <div class="ea-tile ">
                  <div class="ea-tile-content">
                    <div class="ea-tile-title" style="margin-bottom: -50%;">
                      <h4 style="color: #000; border: 2px solid grey; background-color: lightgrey;">BLK Regal 154</h4>
                    </div>
                  </div>
                </div>
              </a>
            </div>

            <!-- beginning of modal windows -->
            <div id="blk154" class="modal fade " role="dialog" data-backdrop="false" style=" overflow-y: auto; margin-top: 20px;">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <img src="/assets/images/blk/blk154.jpg" alt="blk254" class="img-responsive center-block">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <div class="modal-title">
                      <h2>Product Details</h2>
                    </div>
                  </div>
                  <div class="modal-body">
                    <h3>BLK Regal 154</h3>
                    <p>Thanks to its special and diachronic design, it can renew the style of your place
                      It offers a great variety of applications that can easily satisfy the most demanding constructions
                    </p>
                    <h3>DESIGN </h3>
                    <p>With distinguished and timeless design, BLK Regal 154 relies on an elegant, modern style that changes the atmosphere of your place. It comes in unique lines, designed to integrate all key elements of modern architectural concepts. Profiles and accessories to offer solutions even to the most exquisite ideas, providing versatile applications.
                    </p>
                    <h3>ENDURANCE </h3>
                    <p>BLK Regal 154 is a strong and durable system that will stand time and all weather conditions.
                    </p>
                    <h3>FUNCTIONALITY  </h3>
                    <p>The special design, the carefull selection of easy to fit accessories and the efficient insulation, make BLK 154 the system that meets every expectation and the highest quality standards. This system is ideal for shop windows, doors and windows. Regal 154 offers a great selection of color samples such as Ral, Elox, Metalic, or Wood imitation. EPDM gaskets and the locking mechanisms assure the desired strength,comfort and safety.
                    </p>
                    <h3>PERFORMANCE  </h3>
                    <p>BLK Regal 154 system has been developed taking into consideration the needs of the constructors. It is a system that doesn’t compromise in quality and at the same time stands out for its long lasting performance. The accessories fit perfectly in every profile and offer an additional advantage to the constructor by reducing the operating cost. BLK Regal 154 comes in a variety of profiles and is constantly enhanced.
                    </p>
                    <h3>What REGAL 154 system offers  </h3>
                    <ul>
                      <li>Safe and efficient alternative for big size spans</li>
                      <li>Frames with height up to 56mm and width up to 180mm</li>
                      <li>Big sashes for doors</li>
                      <li>Option to construct doors without using transom mullions</li>
                      <li>Option to construct doors with internal window</li>
                      <li>Option to use automatic card locks for internal doors for hotels, banks, offices</li>
                      <li>For big size spans, there is the option to use additional corner joints for absolute firmness</li>
                      <li>Option for glass thickness of 4 - 30mm</li>
                      <li>Top standards water and air flow insulation</li>
                      <li>Special profiles for perimeter locking mechanism</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn custom-btn-2 pull-left" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- END: BLK fullscreen modal -->
          </div>


<!-- product 3 -->


          <div class="col-md-3 column ea-tweet-section" id="1-4">
          <div class="ea-tile-wrapper" style=" height: 330px; background-image: url('/assets/images/blk/blk254.jpg');">
            <a  href="#" data-toggle="modal" data-target="#blk254" data-backdrop="true">
              <div class="ea-tile ">
                <div class="ea-tile-content">
                  <div class="ea-tile-title" style="margin-bottom: -50%;">
                    <h4 style="color: #000; border: 2px solid grey; background-color: lightgrey;">BLK Classic Thermo 254</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- beginning of modal windows -->
          <div id="blk254" class="modal fade " role="dialog" data-backdrop="false" style=" overflow-y: auto; margin-top: 20px;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <img src="/assets/images/blk/blk254.jpg" alt="blk254" class="img-responsive center-block">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-title">
                    <h2>Product Details</h2>
                  </div>
                </div>
                <div class="modal-body">
                  <h3>BLK Classic Thermo 254</h3>
                  <p>Thanks to its special and diachronic design, it can renew the style of your place
                    It offers a great variety of applications that can easily satisfy the most demanding constructions
                  </p>
                  <h3>DESIGN </h3>
                  <p>With distinguished and timeless design, BLK Regal 154 relies on an elegant, modern style that changes the atmosphere of your place. It comes in unique lines, designed to integrate all key elements of modern architectural concepts. Profiles and accessories to offer solutions even to the most exquisite ideas, providing versatile applications.
                  </p>
                  <h3>ENDURANCE </h3>
                  <p>BLK Regal 154 is a strong and durable system that will stand time and all weather conditions.
                  </p>
                  <h3>FUNCTIONALITY  </h3>
                  <p>The special design, the carefull selection of easy to fit accessories and the efficient insulation, make BLK 154 the system that meets every expectation and the highest quality standards. This system is ideal for shop windows, doors and windows. Regal 154 offers a great selection of color samples such as Ral, Elox, Metalic, or Wood imitation. EPDM gaskets and the locking mechanisms assure the desired strength,comfort and safety.
                  </p>
                  <h3>PERFORMANCE  </h3>
                  <p>BLK Regal 154 system has been developed taking into consideration the needs of the constructors. It is a system that doesn’t compromise in quality and at the same time stands out for its long lasting performance. The accessories fit perfectly in every profile and offer an additional advantage to the constructor by reducing the operating cost. BLK Regal 154 comes in a variety of profiles and is constantly enhanced.
                  </p>
                  <h3>What REGAL 154 system offers  </h3>
                  <ul>
                    <li>Safe and efficient alternative for big size spans</li>
                    <li>Frames with height up to 56mm and width up to 180mm</li>
                    <li>Big sashes for doors</li>
                    <li>Option to construct doors without using transom mullions</li>
                    <li>Option to construct doors with internal window</li>
                    <li>Option to use automatic card locks for internal doors for hotels, banks, offices</li>
                    <li>For big size spans, there is the option to use additional corner joints for absolute firmness</li>
                    <li>Option for glass thickness of 4 - 30mm</li>
                    <li>Top standards water and air flow insulation</li>
                    <li>Special profiles for perimeter locking mechanism</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn custom-btn-2 pull-left" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- END: BLK fullscreen modal -->
          </div>




<!-- product 4 -->



          <div class="col-md-3 column ea-tweet-section" id="1-4">
          <div class="ea-tile-wrapper" style=" height: 330px; background-image: url('/assets/images/blk/blk262.jpg');">
            <a  href="#" data-toggle="modal" data-target="#blk262" data-backdrop="true">
              <div class="ea-tile ">
                <div class="ea-tile-content">
                  <div class="ea-tile-title" style="margin-bottom: -50%;">
                    <h4 style="color: #000; border: 2px solid grey; background-color: lightgrey;">BLK Regal Thermo 262</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <!-- beginning of modal windows -->
          <div id="blk262" class="modal fade " role="dialog" data-backdrop="false" style=" overflow-y: auto;">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <img src="/assets/images/blk/blk262.jpg" alt="blk254" class="img-responsive center-block">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <div class="modal-title">
                    <h2>Product Details</h2>
                  </div>
                </div>
                <div class="modal-body">
                  <h3>BLK Regal Thermo 262</h3>
                  <p>Thanks to its special and diachronic design, it can renew the style of your place
                    It offers a great variety of applications that can easily satisfy the most demanding constructions
                  </p>
                  <h3>DESIGN </h3>
                  <p>With distinguished and timeless design, BLK Regal 154 relies on an elegant, modern style that changes the atmosphere of your place. It comes in unique lines, designed to integrate all key elements of modern architectural concepts. Profiles and accessories to offer solutions even to the most exquisite ideas, providing versatile applications.
                  </p>
                  <h3>ENDURANCE </h3>
                  <p>BLK Regal 154 is a strong and durable system that will stand time and all weather conditions.
                  </p>
                  <h3>FUNCTIONALITY  </h3>
                  <p>The special design, the carefull selection of easy to fit accessories and the efficient insulation, make BLK 154 the system that meets every expectation and the highest quality standards. This system is ideal for shop windows, doors and windows. Regal 154 offers a great selection of color samples such as Ral, Elox, Metalic, or Wood imitation. EPDM gaskets and the locking mechanisms assure the desired strength,comfort and safety.
                  </p>
                  <h3>PERFORMANCE  </h3>
                  <p>BLK Regal 154 system has been developed taking into consideration the needs of the constructors. It is a system that doesn’t compromise in quality and at the same time stands out for its long lasting performance. The accessories fit perfectly in every profile and offer an additional advantage to the constructor by reducing the operating cost. BLK Regal 154 comes in a variety of profiles and is constantly enhanced.
                  </p>
                  <h3>What REGAL 154 system offers  </h3>
                  <ul>
                    <li>Safe and efficient alternative for big size spans</li>
                    <li>Frames with height up to 56mm and width up to 180mm</li>
                    <li>Big sashes for doors</li>
                    <li>Option to construct doors without using transom mullions</li>
                    <li>Option to construct doors with internal window</li>
                    <li>Option to use automatic card locks for internal doors for hotels, banks, offices</li>
                    <li>For big size spans, there is the option to use additional corner joints for absolute firmness</li>
                    <li>Option for glass thickness of 4 - 30mm</li>
                    <li>Top standards water and air flow insulation</li>
                    <li>Special profiles for perimeter locking mechanism</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn custom-btn-2 pull-left" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          <!-- END: BLK fullscreen modal -->
          </div>







        </div>
      </div>
    </div>
  </div>
</article>
