
<div class="row">
  <div class="col-md-12 column ea-tweet-section" id="1-1">
    <div class="ea-tile-content" style="color: #000;">
      <div class="ea-tile-title">
        <h3 style="color: #000;">About Us</h3>
      </div>
      <div class="ea-tile-text"><p>Aluminum company , in 2003 with the aim to meet the needs of the construction industry to improve the beauty and optimization of established buildings .
        Since windows and facades of buildings are the most critical components, The use of aluminum profiles in the exterior with respect to durability and color stability and physical properties of aluminum and And on the other hand possible to produce complex shapes and sections , One of the best options for architects , and Using a thermal break Thermal Brake heat transfer coefficient is well regulated and controlled And in line with this objective , Primary aluminum production company receiving agencies Primary aluminum production company receiving agencies Primary aluminum production company receiving agencies To advance the quality of products And thus the use of advanced machinery Try to provide the best in their projects . Alumina Company with active and constructive in the field of manufacture of windows and facades of buildings And the use of scientific management and the use of modern technology and advanced machinery also having exclusive representation Brokelmann and BLK and Alucobond provides one of the best products .
      </p></div>
    </div>
  </div>

  <div class="col-md-4 column ea-tweet-section" id="1-1">
    <div class="ea-tile-content" style="color: #000;">
      <div class="ea-tile-title">
        <h3 style="color: #000;">Technical Office:</h3>
      </div>
      <div class="ea-tile-text"><p>Technical section Alumina Company in all stages of project implementation , including design , mapping , monitoring production , implementation , construction , installation and maintenance plays its role to the fullest .</p>
        <p>This along with consulting and technical sector employer and also project management and quality control and testing calculation also plays a role.
        </p></div>
      </div>
    </div>

    <div class="col-md-4 column ea-tweet-section" id="1-1">
      <div class="ea-tile-content" style="color: #000;">
        <div class="ea-tile-title">
          <h3 style="color: #000;">Factory:</h3>
        </div>
        <div class="ea-tile-text"><p>Alumina Factory using the most advanced Elumatec machines In the production of aluminum window, door and facade in Iran and With a professional staff to produce the best products .</p>
        </div>
        </div>
      </div>

      <div class="col-md-4 column ea-tweet-section" id="1-1">
        <div class="ea-tile-content" style="color: #000;">
          <div class="ea-tile-title">
            <h3 style="color: #000;">Installation and safety:</h3>
          </div>
          <div class="ea-tile-text"><p>Executive Branch alumina having modern equipment and experienced technical staff to carry out the installation is responsible.</p>
            <p>The unit with monitor and safety principles and calculation operations , the ability to run at very high altitudes is capable.
            </p></div>
          </div>
        </div>

</div>
