
<div class="container-fluid maxwidth">
  <header id="header">

    <div class="ea-header">
      <div class="ea-menu-toggle" data-nav-toggle>
        <i class="fa fa-navicon"></i> MENU
      </div>
      <div class="ea-social-icons hidden-xs">
        <ul class="list-unstyled list-inline">
          <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    </header>

      <div class="ea-wrapper">
        <div class="container-fluid maxwidth">
          <div class="ea-logo">
            <a href="/"><img src="/assets/images/logo.png" height="65" class="img-responsive" /></a>
          </div>

          {{outlet}}

        </div>
      </div>
    </div>



  <div id="ea-nav-menu">
    <a data-nav-toggle class="ea-menu-close">
      <svg height="20" width="20">
        <polyline points="0,0 20,20" stroke-width="1" stroke="#000"></polyline>
        <polyline points="20,0 0,20" stroke-width="1" stroke="#000"></polyline>
      </svg>
    </a>
    <ul class="list-unstyled first-level">
      <li class=" active">
        <a href="/">HOME</a>
      </li>
      <li class="">
        <a href="/about-us/">ABOUT US</a>
      </li>
      <li class="">
        <a href="/aluminium">ALUMINIUM</a>
      </li>
      <li class="">
        <a href="/wood">WOOD</a>
      </li>
      <li class="">
        <a href="/curtain-wall">CURTAIN WALL</a>
      </li>
      <li class="">
        <a href="/data/">DATA</a>
        <ul class="list-unstyled second-level">
          <li class="">
            <a href="/data/industry-overview/">Industry overview</a>
          </li>
          <li class="">
            <a href="/data/recycling-data/">Recycling data</a>
          </li>
          <li class="">
            <a href="/data/economic-data/">Economic data</a>
          </li>
          <li class="">
            <a href="/data/packaging-data/">Packaging data</a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="/resource-hub/">RESOURCE HUB</a>
      </li>
      <li class="">
        <a href="/contact-us/">CONTACT US</a>
      </li>
    </ul>
  <div class="modal fade" id="ea-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
      <a href="#ea-modal" data-dismiss="modal" data-target="#ea-modal"><i class="fa fa-times"></i></a>
    </div>
  </div>
</div>



  <footer>
    <div class="ea-footer-links">
      <ul class="list-unstyled list-inline">
        <li><a href="/" >SITEMAP</a></li>
        <li><a href="/" >CONTACT US</a></li>
      </ul>
    </div>
    <div class="ea-footer-text">
      <p>ALL RIGHTS RESERVED 2016 &#169; ALUMINCO  TEHRAN, IRAN  T +98 (21)123 456 78 90</p>
    </div>
  </footer>
