
<div class="container-fluid maxwidth">
  <header id="header">

    <div class="ea-header">
      <div class="ea-menu-toggle" data-nav-toggle>
        <i class="fa fa-navicon"></i> MENU
      </div>
      <div class="ea-social-icons hidden-xs">
        <ul class="list-unstyled list-inline">
          <li><a href="https://www.linkedin.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    </header>

      <div class="ea-wrapper">
        <div class="container-fluid maxwidth">
          <div class="ea-logo">
            <a href="/"><img src="/assets/images/logo.png" alt="Aluminco logo" height="65" class="img-responsive" /></a>
          </div>

          {{outlet}}

        </div>
      </div>
    </div>



  <div id="ea-nav-menu">
    <a data-nav-toggle class="ea-menu-close">
      <svg height="20" width="20">
        <polyline points="0,0 20,20" stroke-width="1" stroke="#000"></polyline>
        <polyline points="20,0 0,20" stroke-width="1" stroke="#000"></polyline>
      </svg>
    </a>
    <ul class="list-unstyled first-level">
      <li class=" active">
        <a href="/">HOME</a>
      </li>
      <li class="">
        <a href="/about-us/">ABOUT US</a>
      </li>
      <li class="">
        <a href="/aluminium">ALUMINIUM</a>
      </li>
      <li class="">
        <a href="/wood">WOOD</a>
      </li>
      <li class="">
        <a href="/curtain-wall">CURTAIN WALL</a>
      </li>
      <li class="">
        <a href="/blk">BLK</a>
      </li>
      <li class="">
        <a href="/brokelmann">BROKELMANN</a>
      </li>
      <li class="">
        <a href="/alucobond">ALUCOBOND</a>
      </li>
      <li class="">
        <a href="/m-sora">M SORA</a>
      </li>
      <li class="">
        <a href="/projects">PROJECTS</a>
      </li>
      <li class="">
        <a href="#" data-toggle="modal" data-target="#contact-us">CONTACT US</a>
      </li>
    </ul>
  <div class="modal fade" id="ea-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
      </div>
      <a href="#ea-modal" data-dismiss="modal" data-target="#ea-modal"><i class="fa fa-times"></i></a>
    </div>
  </div>
</div>



  <footer>
    <div class="ea-footer-links">
      <ul class="list-unstyled list-inline">
        <li><a href="/" >SITEMAP</a></li>
        <li><a href="#" data-toggle="modal" data-target="#contact-us" data-backdrop="true">CONTACT US</a></li>
      </ul>
    </div>
    <div class="ea-footer-text">
      <p>ALL RIGHTS RESERVED 2016 &#169; ALUMINCO  TEHRAN, IRAN  T +98 (21)123 456 78 90</p>
    </div>
  </footer>

  <!-- beginning of modal windows -->
  <div id="contact-us" class="modal fade " role="dialog" data-backdrop="false" style=" overflow-y: auto; margin-top: 20px;">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <div class="row modal-title">
            <h2 style="text-align: center;">Contact Us</h2>
          </div>
        </div>
        <div class="col-sm-6 column modal-body">
          <h3 style="text-align: center;">Tehran Office</h3>
					<div class="contact-address" style="text-align: center;">
            <address><strong>123 ValiAsr Tehran<br>Tehran, Iran<br> Postal-code: 12345-6789 </strong><br><small>( Lorem ipsum dolor sit amet, consectetuer adipiscing elit )</small></address>
          </div>
        </div>
        <div class="col-sm-6 column modal-body">
          <h3 style="text-align: center;">Factory Office</h3>
					<div class="contact-address" style="text-align: center;">
            <address><strong>123 ValiAsr Tehran<br>Tehran, Iran<br> Postal-code: 12345-6789 </strong><br><small>( Lorem ipsum dolor sit amet, consectetuer adipiscing elit )</small></address>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn custom-btn-2 center-block" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END: BLK fullscreen modal -->
