
<article>
  <div class="umb-grid">
    <div class="grid-section">
      <div>
        <div class="row clearfix">
          <div class="col-md-4 column ea-tweet-section" id="1-1">
            <div class="ea-tile-wrapper" style=" height: 330px; background-image: url('/assets/images/windows.jpeg');">
                {{#link-to 'blk/windows'}}
                 <div class="ea-tile ">
                  <div class="ea-tile-header"><span>/</span>Windows</div>
                  <div class="ea-tile-content">
                    <div class="ea-tile-title">
                      <h3> Window</h3>
                    </div>
                    <div class="ea-tile-text"><p>more text comes here ....</p></div>
                  </div>
                </div>
                {{/link-to}}
            </div>
          </div>
          <div class="col-md-4 column ea-tweet-section" id="1-2">
            <div class="ea-tile-wrapper" style= "height: 330px; background-image: url('/assets/images/door.jpeg');">
              {{#link-to 'blk/doors'}}
                <div class="ea-tile ">
                  <div class="ea-tile-header"><span>/</span>Doors</div>
                  <div class="ea-tile-content">
                    <div class="ea-tile-title">
                      <h3>Doors</h3>
                    </div>
                    <div class="ea-tile-text"><p>more text comes here ....</p></div>
                  </div>
                </div>
              {{/link-to}}
            </div>
          </div>

          <div class="col-md-4 column ea-tweet-section" id="1-3">
            <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/sliding-windows.jpeg');">>
              {{#link-to 'blk/sliding-windows'}}
                <div class="ea-tile ">
                  <div class="ea-tile-header"><span>/</span>Sliding Windows</div>
                  <div class="ea-tile-content">
                    <div class="ea-tile-title">
                      <h3>Sliding Windows</h3>
                    </div>
                    <div class="ea-tile-text"><p>more text comes here ....</p></div>
                  </div>
                </div>
              {{/link-to}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
