<div class="umb-grid">
  <div class="grid-section">
    <div>
      <div class="row clearfix">
        <div class="col-md-3 column ea-tweet-section" id="1-1">
          <div class="ea-tile-wrapper" style="height: 330px; background-image: url('/assets/images/projects/2.jpg');">
          </div>
        </div>
        <div class="col-md-9 column ea-tweet-section" id="1-1">
          <div class="ea-tile-wrapper" style="background-color: transparent;">
            <h3> Brazil Tower</h3>
            <p>Year of Completion: 1393</p>
            <p>Owner: Sakhteman & Sanat Melli</p>
            <p>Architect: Sharestan</p>
            <p>Fabricator/Installer: Alumin Co.</p>
            <p>Product:
            <ul>
              <li>13200 m2</li>
              <li>8800m2 (Alucobond Plus Aluminium Composite Panel)</li>
              <li>3400 m2 ( Curtain Wall)</li>
              <li>18000 m (sunbreaker louvers)</li>
              <li>100 m2 ( Thermo Aluminium Windows)</li>
            </ul>
          </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
